@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import "./components/animation";

@import "./layout/header";
@import "./layout/infos";
@import "./layout/functions";
@import "./layout/restaurants";
@import "./layout/footer";
@import "./layout/spinner";


@import "./pages/menu";
 