header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 15px 0 5px 0;
}

.header {
    &__arrow {
        position: absolute;
        left: 30px;
        size: 0.25em;
        &--disable {
            display: none;
        }
    }
    &__text {
        font-size : $logo-font-size;
    }
}
