.infos {
    &__location {
        display: flex;
        background-color: $background-dark-gray;
        justify-content: center;
        padding : 16px 0;
        box-shadow: inset 0px 5px 20px -17px black;
        font-weight: bold;
        color: $text-gray;
        & > p {
            margin-left: 15px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $background-light-gray;
        & h1 {
            width : 70%;
            margin-top: 35px;
        }
        & h3 {
            width: 90%;
            text-align: center;       
            margin-top: 15px;
        }
    }
}