.button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background-image: linear-gradient(lighten($colour-secondary, 10%), lighten($colour-primary, 10%));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .button:hover::before {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }





.main-menu__dishes__header div:hover i:last-child {
    color: $colour-primary;
    animation: progress-bar 500ms;
    animation-fill-mode: none;
}

.restaurant-card__infos div:last-child:hover i:last-child {
    color: $colour-primary;
    animation: progress-bar 500ms;
    animation-fill-mode: none;
}

@keyframes progress-bar {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    17% {
        transform: scale(.18);
    }
    24% {
        transform: scale(.4);
    }
    46% {
        transform: scale(.81);
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

.infos, .restaurants, .functions {
    animation: loader 500ms;
}

@keyframes loader {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.spinner {
    animation : spin 500ms forwards;
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(600deg);
    }
}


.animate {
    animation-duration: 500ms;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
      
  @keyframes animate-fade {
      0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  .animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
          
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  
  
  .delay-1 {
    animation-delay: 1s;
  }
      
  .delay-2 {
    animation-delay: 1.5s;
  }
      
 
.main-menu__dishes__step__dish:hover {
    padding-right: 110px;
    & h4:nth-child(3) {
        right: 70px;
        animation-delay: 0s;
    }
    & div {
        width : 60px;
        height :100%;
        & i {
            animation: check 1s forwards;
        }
    }
}

@keyframes check {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}