*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h1 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
}

h3 {
    font-family: roboto;
            font-size: 20px;
            font-weight: 100;
}

a {
    color: black;
        text-decoration: none;
}

h4 {
    font-size: 17px;
}

h5 {
    font-weight: 300;
    font-size: 15px;
}

.fa-heart {
    cursor: pointer;
}