.main-menu {
    width : 100%;
    background-color: $background-light-gray;
    & img {
        width: 100%;
        object-fit: cover;
    }
    &__dishes {
        padding: 0 25px;
        background-color: $background-light-gray;  
        border-radius: 45px 45px 0 0;
        position: relative;
        top : -60px;
        margin-bottom: -60px;
        &__header {
            font-family: 'Shrikhand', sans-serif;
            font-size: 25px;
            padding-top: 30px;
            padding-bottom: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            & div {
                display: flex;
                align-items: center;
            }
            & div i:first-child {
                color: black;
                position: absolute;
                right: 0;
                z-index: 1;
            }
            & div i:last-child {
                color: transparent;
                transform-origin: 50% 50%;
                overflow: hidden;
            }
        } 
        &__step {
            margin-bottom: 30px;
            &__rectangle {
                    width: 40px;
                    height: 3px;
                    background: $colour-tertiary;
                    margin-bottom: 15px;
            }
            &__dish {
                cursor: pointer;
                position: relative;
                padding: 12px;
                padding-right: 60px;
                @include bordershadows;
                border-radius: 15px;
                margin-bottom: 15px;
                transition-property: padding-right;
                transition-duration: 1s;
                & h4:first-child {
                    margin-bottom: 5px;
                    overflow: visible;
                    white-space: nowrap;
                }
                & h4:nth-child(3) {
                    position: absolute;
                    right: 20px;
                    bottom : 12px;
                    transition-property: right;
                    transition-duration: 1s;
                }
                & h5 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & div {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 0px;
                    background-color: $colour-tertiary;
                    border-radius: 0 15px 15px 0;
                    transition-property: width, height, top;
                    transition-duration: 1s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    & i {
                        color: white;
                        font-size: 25px;
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 2s;
                        overflow: hidden;
                    }
                }
            }
        }
        &__step > p {
            text-transform: uppercase;
            font-weight: 300;
            position: relative;  
            margin-bottom: 7px;    
            }

    &__button {
        display: flex;
        justify-content: center;
        & .button {
            margin-top: 0;
        }
    }
    }
}