$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$background-dark-gray : #EBEBEB;
$background-light-gray : #F6F6F6;
$text-gray : #363636;
$icon-gray : #7D7D7D;
$colour-primary-light : #F6EDFF;
$text-green : #199475